.AdminUser{
    text-align: justify;
    float: left;
    max-width: 80%;
}
tr,td,th{
    border: 1px solid black;
}
td{
    width: 200px;
    text-align: center;
}
button{
    width: 100%;
}
ul{
    float: right;
    text-decoration: underline;
}