@charset "UTF-8";

*{
    box-sizing:border-box;
}
/*--------------GRID--------------*/
main{
    width:100%;
    display:grid;
    grid-template-columns:
        "h h h h"
        "n n n n"
        "a a a a"
        "f f f f"
    ;
}
header{
    grid-area:"h";
}
nav{
    grid-area:"n";
}
article{
    grid-area:"a";
}
footer{
    grid-area:"f";
}
/*------------GRID VÉGE------------*/
/*---------------NAV---------------*/
nav{
    background-color:black;
    padding:10px;
    border-top:1px solid lightgrey;
}
nav ul{
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    width:100%;
}
nav ul li{
    background-color:black;
    list-style-type:none;
    float:left;
}
nav ul li a{
    color:white;
    text-decoration:none;
    padding:5px;
}
#nav_hover:hover{
    background-color:white;
    color:black;
}
/*-------------NAV VÉGE------------*/
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color:black;
}
header{
    display:grid;
    grid-template-columns:1fr 12fr;
    background-color:black;
    color:white;
    padding:3% 0 3% 2%;
}
#nevunk{
    padding-top:0.4%;
    font-family:'Gideon Roman';
}
#header_logo{
    float:left;
}
#logo{
    background-color:white;
}
#user{
    float:right;
    /*padding-right:5%;*/
}
#udvozlo{
    text-align:center;
}
article, section{
    background-color:black;
    color:white;
}
article{
}
#sablon_auto{
    /*height:200px;
    width:250px;*/
    /*border:1px solid white;*/
    text-align:center;
}
#sablon_auto #kep{
    width:100%;
}
.konfigurator_container{
    border:1px solid white;
}
#jarmu{
    padding-left:10px;
}
#jarmu_konfigurator{
    border:1px solid white;
    margin:10px;
    padding:10px;
    
}
#jarmu_lista{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    /*grid-column-gap:5%;*/
}
.colorContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.osszAr,.confNav{
    float:right;
}

.color_konfigurator_container{
    margin: 20px 20px 20px 20px;
}
.motorContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.motor_konfigurator_container{
    margin: 20px 20px 20px 20px;
}
.interiorContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.interior_konfigurator_container{
    margin: 20px 20px 20px 20px;
}
/*--------------FOOTER-------------*/
footer{
    border-top:1px solid lightgrey;
    background-color:black;
    color:white;
    text-align:center;
}
/*------------FOOTER VÉGE----------*/