@charset "UTF-8";

*{
    box-sizing:border-box;
}
/*--------------GRID--------------*/
main{
    width:100%;
    display:grid;
    grid-template-columns:
        "h h h h"
        "n n n n"
        "a a a a"
        "f f f f"
    ;
}
header{
    grid-area:"h";
}
nav{
    grid-area:"n";
}
article{
    grid-area:"a";
}
footer{
    grid-area:"f";
}
/*--------------GRID--------------*/
body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}
header{
    display:grid;
    grid-template-columns:1fr 12fr;
    background-color:black;
    color:white;
    padding:3% 0 3% 2%;
}
#nevunk{
    padding-top:0.4%;
    font-family:'Gideon Roman';
}
#header_logo{
    float:left;
}
#logo{
    background-color:white;
}
nav{
    background-color:black;
    padding:10px;
    border-top:1px solid lightgrey;
}
nav ul{
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    width:100%;
}
nav ul li{
    background-color:black;
    list-style-type:none;
    float:left;
}
nav ul li a{
    color:white;
    text-decoration:none;
    padding:5px;
}
a:hover{
    background-color:white;
    color:black;
}
#user{
    float:right;
    /*padding-right:5%;*/
}
article{
    height:500px;
    background-color:black;
}
footer{
    height:250px;
    background-color:coral;
}